@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* univesal styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
   background-color: rgb(34, 34, 34);
    
}
/* nav style */
header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
nav{
    width: 74%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 57px;
}
.nav-heading{
    color: rgb(230, 83, 60);
font-size: 2.2rem;
font-weight: 800;

}
 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
font-size: 1.1rem;
font-weight: 400;
margin-left: 47px;
margin-right: 15px;

}
.nav-a button{
    border-radius: 46px;
    width: 80px;
      height: 38px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-weight: 600;
    border:none;
}
.nav-a{
    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 39px;

}
#hamburg{
    display: none;
}
/* banner style */
.banner{
    width: 74%;
    margin: 32px auto 0px auto;
    /* border: 2px solid red; */
    display: flex;
    justify-content:space-between ;
    align-items: center;
    
}
.banner-text{
    width: 43%;
    

}
.banner-text h1{
    color: rgb(255, 255, 255);
   
font-size: 4.9rem;
font-weight: 900;
margin-bottom: 28px;

}
.banner-text p{
    color: rgba(255, 255, 255, 0.5);

font-size: 1rem;
font-weight: 400;
margin-bottom: 28px;

}
.join{
    width: 224px;
height: 54px;
border-radius: 42px;

background: rgb(230, 83, 60);
border: none;
color: rgb(255, 255, 255);

font-size: 1.1rem;
font-weight: 600;

}
#download{
    
border: 1px solid rgb(255, 255, 255);
border-radius: 42px;
background: none;
margin-left: 8px;

}
.banner-img{
    background-image: url(../images/Images\ 2.png);
    background-size: cover;
    width: 31%;
    height: 580px;
    position: relative;
}
.banner-card1{
    width: 193px;
height: 98px;
box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
 padding-top: 10px;
backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.1);
text-align: center;
position: absolute;
left: 65%;
top: 22%;

}
.banner-card1 h2{
    color: rgb(255, 255, 255);

font-size: 2.4rem;
font-weight: 900;

}
.banner-card1 p{
    color: rgba(255, 255, 255, 0.65);

font-size: 0.8rem;
font-weight: 400;


}
.banner-card2{
    width: 206px;
height: 96px;
box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;

backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);
display: flex;
justify-content: space-evenly;
align-items: center;
position: absolute;
top: 73%;
right: 70%;
}
.banner-card2 h4{
    color: rgb(250, 250, 249);

font-size: 1.5rem;
font-weight: 900;
}
.banner-card2 p{
    color: rgba(239, 237, 232, 0.65);

font-size: 1rem;
font-weight: 400;

}
#circle{
    background: rgb(230, 83, 60);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
}
.play{
    display: none;
}
#shape{
    font-family:miama;
    font-weight: 200;
    font-size: 10rem;
    background-color: transparent;
    line-height: 10px;
    color: white;
    border: none;  
}
/* section1 style */
main{
    background: rgb(0, 0, 0);
}
.section1{
    width: 74%;
    margin: 0 auto;
    padding-top: 100px;
    
}
.section1-text{
    width: 57%;

margin: 0 auto;
text-align: center;
}
.section1-text h1{
    color: rgb(255, 255, 255);

font-size: 3rem;
font-weight: 900;

}
.section1-text p{
    color: rgba(255, 255, 255, 0.5);
  padding: 10px;
font-size: 0.9rem;
font-weight: 400;

}
.section1-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
    /* border: 2px solid red; */
}
.cards{
 text-align: center;
 /* border: 2px solid rgb(170, 255, 0); */
 height: 275px;
}
.cards img{
    border-radius: 50% 50%;
}
.cards h4{
    color: rgb(255, 255, 255);
    margin-top: 30px;
font-size: 1.1rem;
font-weight: 600;

}
.cards p{
    color: rgba(255, 255, 255, 0.5);
    width: 231px;
height: 274px;
  margin-top: 8px;
font-size:0.8rem;
font-weight: 400;

}
/* section2 style */
.section2{
    width: 74%;
    height: 371px;
    margin: 0 auto;
    display: flex;
    /* border: 2px solid blanchedalmond; */
    border-radius: 18px;
    align-items: center;
    margin-top: 100px;
    background-color: rgb(34,34,34);
}
.section2-img{
    width: 366px;
height: 312px;

margin-left: 220px;



}
.section2-img img{
    height: 100%;
    width: 100%;
    border-radius: 18px;

}
.section2-img2{
   display: none;
  
}
.section2-text{
    width: 37%;
height: 290px;
/* border: 2px solid red; */
margin-left:60px;

}
.section2-text h1{
    color: rgb(255, 255, 255);
 margin-bottom: 14px;
font-size: 3rem;
font-weight: 900;

}
.section2-text p{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 34px;
font-size: 0.9rem;
font-weight: 400;

}
.section2-text button{
    width: 224px;
height: 54px;
border-radius: 42px;

background: rgb(230, 83, 60);
color: rgb(255, 255, 255);

font-size: 1.2rem;
font-weight: 600;

}
/* section3 style */
.section3{
    width: 43%;

margin: 63px auto;
}
.section3 h1{
    color: rgb(255, 255, 255);
  margin-bottom: 14px;
font-size: 3rem;
font-weight: 900;

}
.section3 p{
    color: rgba(255, 255, 255, 0.5);

font-size: 0.9rem;
font-weight: 400;

}
/* section4 style */
.section4{
    background-color: rgb(34,34,34);
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0px 40px 0px;
    
}
.form{
    width: 38%;
height: 386px;
/* border: 2px solid red; */
}
table{
    width: 310px;
height: 220px;
}
.table h2{
    color: rgb(255, 255, 255);
 margin-bottom: 40px;
font-size: 1.8rem;
font-weight: 900;

}
table{
    text-align: center;
    
}
th{
    color: rgb(255, 255, 255);

font-size: 1rem;
font-weight: 500;
border: 1px solid rgba(255, 255, 255, 0.1);
}
td{
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
font-size: 0.9rem;
font-weight: 400;


}
.form h2{
    
    color: rgb(255, 255, 255);
      margin-bottom: 14px;   
   font-size: 1.8rem;
   font-weight: 900;  
}
.form p{
    color: rgba(255, 255, 255, 0.5);
font-size: 0.9rem;
font-weight: 400;
margin-bottom: 34px;

}
input,select{
    width: 47.5%;
height: 46px;
border-radius: 8px;
border: none;
background: rgba(255, 255, 255, 0.1);
margin-bottom: 12px;
margin-left: 5px;
color: rgba(255, 255, 255, 0.6);
font-size: 1rem;
font-weight: 400;
padding-left: 20px;

}
::placeholder{
    color: rgba(255, 255, 255, 0.6);
}
#factor{
    width: 97%;
}
#calculate{
    border-radius: 42px;
    width: 224px;
    height: 54px;
background: rgb(230, 83, 60);
color: rgb(255, 255, 255);
border: none;
font-size: 1rem;
font-weight: 600;
margin-top: 20px;

}
/* section5 style */
.section5{
    width: 74%;
    margin: 0 auto;
    /* border: 2px solid springgreen; */
}
.section5-team{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:0px ;
    /* border: 2px solid skyblue; */
    border-radius: 18px;
     align-items: center;
     justify-items: center;
    height: 650px;
background: rgba(255, 255, 255, 0.1);
}
.section5-card{
   
   width: 93%;
height: 285px;
 /* border: 2px solid red; */
 position: relative;
 
   
}
.section5-card img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
    object-fit: cover;
}
.card-text{
    position: absolute;
    bottom: 5%;
    left: 5%;
    
}
.section5-text{
    width: 41%;

margin: 70px auto;
text-align: center;
}
.section5-text h1{
    color: rgb(255, 255, 255);
 margin-bottom: 15px;
font-size: 3rem;
font-weight: 900;

}
.section5-text p{
    color: rgba(255, 255, 255, 0.5);

font-size: 0.9rem;
font-weight: 400;

}

.card-text h4{
 color: white;
 font-size: 1.4rem;
}
.card-text p{
    color: rgba(255, 255, 255, 0.5);

font-size: 1rem;
font-weight: 400;

}
/* footer style */
